<div class="container">
    <!--  CONTAINER -->
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Precio</h1>
      <p class="fs-5 text-muted">Adquiere uno de nuestros planes en promoción.</p>
    </div>
    <div class="row mb-5">
      <div class="col-md-4 col-sm-6 col-12 p-3 text-center box-shadow">
        <div class="card mb-4 h-100">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Libre</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">
              $0 <small class="text-muted">/ mes</small>
            </h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>10 usuarios incluidos</li>
              <li>2 GB de almacenamiento</li>
              <li>Soporte de correo electrónico</li>
              <li>Acceso al centro de ayuda</li>
              <li class="d-none d-sm-block d-md-block">&nbsp;</li>
            </ul>
            <div class="row px-3 gy-2">
              <button type="button" class="btn btn-lg btn-block btn-outline-primary">Regístrate gratis</button>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-md-4 col-sm-6 col-12 p-3 text-center box-shadow">
        <div class="card mb-4 h-100">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Pro</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">
              $15 <small class="text-muted">/ mes</small>
            </h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>20 usuarios incluidos</li>
              <li>10 GB de almacenamiento</li>
              <li>Soporte prioritario por correo electrónico</li>
              <li>Acceso al centro de ayuda</li>
            </ul>
            <div class="row px-3 gy-2">
              <button type="button" class="btn btn-lg btn-block btn-primary">Empezar</button>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-4 col-sm-12 col-12 p-3 text-center box-shadow">
        <div class="card mb-4 h-100">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Empresa</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">
                  $29 <small class="text-muted">/ mes</small>
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>30 usuarios incluidos</li>
                  <li>15 GB de almacenamiento</li>
                  <li>Soporte telefónico y por correo electrónico</li>
                  <li>Acceso al centro de ayuda</li>
                </ul>
                <div class="row px-3 gy-2">
                  <button type="button" class="btn btn-lg btn-block btn-primary">Contáctenos</button>
                </div>
            </div>
          </div>
        </div>
    </div>
  </div>